/secrets.yaml
/.storage
/.ios.conf
/.HA_VERSION
/.spotify-token-cache
/.homekit.state
/.uuid
/OZW_Log.txt
/gtfs
/home-assistant_v2.db
/ip_bans.yaml
/*.conf
/pyozw.sqlite
/zwcfg_*
/zwscene.xml
/known_devices.yaml
/options.xml
/zones.yaml
/tts/*
/deps

*.log
*-NOLOAD

